# build output
dist/
# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/

*.tsbuildinfo

.trash/

.directory
/font/庞门正道标题体2.0增强版.ttf
/font/汇文港黑.ttf
/font/臺灣新細明體.ttf
